.article-meta{
  margin-bottom: 15px;
  .credit{
    color: #2ba6cb;
    margin-bottom: 10px;
  }
}
.aside{
  .divider{
    margin-top: 150px;
    border-top: solid 2px #dde5e9;
  }
}
.highlight{
  border: 1px solid #cacaca;
  color: #393939;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 1;
  background-color: #fafafb;
  background-clip: padding-box;
  p{
    margin: 0;
  }
}
