= wrap_layout :cn do
  .sub-nav-bar
    .row
      .large-7.columns
        %h4
          %a{href: '#'}= current_article.title
  .row.main-content
    .large-12.columns
      = partial '/cn/article', :locals => {:article => current_article, :digest => false}
